.Head {
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #fcf9f9;
  border: 2px solid #ffffff;
  word-spacing: 560px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.heads {
    margin-left: 80px;
    margin-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
}

.h2 {
    margin-left: 80px;
    margin-top: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.buton {
    margin-left: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.img_d {
    float: right;
    margin-top: 170px;
    width: 800px;
}
